*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Page styling for destop mode [1201px and above]*/
body {
    padding: 10px;
    background-color: white;
    color: white;
    font-size: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    width: 100%;
}
.page-container{
    margin-left: 9rem;
    display: block;
    justify-content: space-between;
}
.top > h3{
    margin-top: 11px;
}

.sec-top{
    display: flex;
    justify-content: left;
    align-items: left;
}

.sec-top > p{
    font-size: 21px;
    margin-top: 30px;
    width: 47%;
}
.sec-top a img{
    width: 52%;
    height: 2.8vh;
    margin-top: 36px;
    margin-left: 10px;
}
.buttom{
    margin-top: 19rem;
}
.time-mode{
    display: flex;
    font-size: 20px;
}
.images{
    top:0;
    left:0;
    position: relative;
    margin-right: 15px;
}
.image1{
    top:0;
    left:0;
    position:relative;

}
.image2{
    top: 20;
    left: 20;
    position: absolute;
}
.image3{
    top: 20;
    left: 20;
    position: absolute;
}
.image4{
    top: 20;
    left: 20;
    position: absolute;
}
.images > img{
    width: 100%;
    height: 4.2vh;
    visibility: hidden;
    margin-right: -15px;
}
.but-mid{
    display: flex;

}
.container{
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    font-weight:bold;
    font-size: 100px;
    width: auto;
}
.but-mid h3{
    margin-left:18px;
    font-size: 25px;
    margin-top: 70px;
    font-weight: lighter;
}
.but-but{
    display: flex;
    justify-content: space-between;
    margin-right: 10rem;
}
select {
    box-shadow: 0 10px 25px black;
    font-size: .8rem;
    padding: 0.5em 2.5em 0.5em 1em;
    border-radius: 25px;
    border: 0;
    color: grey;
    appearance: none;

}
.cus-select{
    position: relative;
}
.cus-arrow{
    position: absolute;
    top: 0.53rem;
    left: 3.85rem;
    display: block;
    background: rgb(68, 67, 67);
    height: 1.2rem;
    width: 1.3rem;
    border-radius: 100%;
    pointer-events: none;
}
.cus-arrow::before {
    --size: 0.22em;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 51.5%;
    top: 50%;
    transform: translate(-50%, -50%)

}
.cus-arrow::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size)  solid transparent;
    border-top: var(--size)  solid white;
}

@media only screen and (max-width: 1200px){
    /*Tablets [900px -> 1200px]*/
    .page-container{
        margin-left: 3.5rem;
    }
    .sec-top > p{
        width: 50%;
        font-size: 24px;
    }
    .top > h3{
        margin-top: 20px;
    }
    .sec-top a img{
        width: 49%;
        height: 1.6vh;
        margin-left: 12px;
        margin-top: 38px;
    }
    .buttom{
        margin-top: 22rem;
    }
    .time-mode > img {
        width: 1.9%;
        height: 2.5vh;
        margin-right: 5px;
        margin-top: 4px;
    }
    .container{
        margin-top: 13px;
    }
    .but-mid h3{
        margin-top: 80px;
        margin-left: 30px;
        font-size: 24px;
    }
    .but-but{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        margin-right: 10rem;
    }   
}
@media only screen and (max-width: 899px){
    /* Small Tablets [601 -> 899px]*/
    .page-container{
        margin-left: 3rem;
        display: block;
        justify-content: space-between;
    }
    .top > h3{
        margin-top: 18px;
        font-size: 30px;
    }
    
    .sec-top > p{
        font-size: 28px;
        margin-top: 21px;
        width: 80%;
    }
    .sec-top a img{
        width: 50%;
        height: 1.8vh;
        margin-top: 30px;
    }
    .buttom{
        margin-top: 23rem;
    }
    .time-mode{
        display: flex;
        font-size: 25px;
    }
    .time-mode > img {
        width: 4%;
        height: 2.5vh;
        margin-right: 5px;
        margin-top: 1.5px;
    }
    .container{
        margin-top: 10px;
        font-size: 100px;
    }
    .but-mid h3{
        font-size: 21px;
        margin-top: 81px;
        margin-left: 30px;
    }
    .but-but{
        display: block;
        margin-top: 5px;
        font-size: 25px;
        margin-right: 0rem;
    }
    .cus-select{
        margin-top: 3rem;
    }
}
@media only screen and (max-width: 600px){
	/*Big smartphones [414px -> 600px]*/
    .page-container{
        margin-left: 2.5rem;
    }
    .top > h3{
        margin-top: 20px;
        font-size: 27px;
        margin-left: 22%;
    }
    .sec-top > p{
        width: 81%;
        font-size: 25px;
        margin-top: 18px;
        text-align: center;
    }
    .sec-top a img{
        margin-top: 26px;
        margin-left: 1px;
        width: 70%;
    }
    .buttom{
        margin-top: 18rem;
    }
    .time-mode{
        display: flex;
        font-size: 19px;
    }
    .time-mode > img {
        width: 5%;
        height: 2.5vh;
        margin-top: -1px;
    }
    .but-mid{
        display: flex;
    
    }
    .container{
        margin-top: 15px;
        font-size: 85px;
    }
    .but-mid h3{
        margin-left:17px;
        font-size: 21px;
        margin-top: 75px;
    }
    .but-but{
        margin-top: 20px;
        display: block;
        text-align: left;
        margin-right: 3rem;
    }
    .cus-select{
        margin-top: 4rem;
    }
}
@media only screen and (max-width: 413px){
	/*Small smartphones [325px -> 413px]*/
    .page-container{
        margin-left: 1.5rem;
    }
    .top > h3{
        margin-top: 18px;
        margin-left: 15%;
    }
    .sec-top > p{
        width: 78%;
        font-size: 22px;
        margin-top: 11px;
        text-align: center;

    }
    .sec-top a img{
        margin-top: 19px;
        margin-left: 5px;
        width: 10px;
    }
    .buttom{
        margin-top: 9rem;
    }
    .time-mode{
        display: flex;
        font-size: 23px;
    }
    .time-mode > img {
        width: 5.6%;
        height: 2.3vh;
        margin-right: 0px;
        margin-bottom: 0px;
        justify-content: center;
    }
    .but-mid{
        display: flex;
    }
    .container{
        margin-top: 10px;
        font-size: 70px;
    }
    .but-mid h3{
        margin-left:20px;
        font-size: 21px;
        margin-top: 54px;
    }
    .but-but{
        margin-top: 10px;
        display: block;
        text-align: left;
        margin-right: 0rem;
    }
    .cus-select{
        margin-top: 2rem;
    }
}